@if(tasksAreLoading()){
  
  <div class="loader-div">
    <p>ინფორმაცია იტვირთება</p>
    <mat-spinner [color]="'warn'" [diameter]="70" [strokeWidth]="2"></mat-spinner>
  </div>
}

@else{
<h1>დავალებების გვერდი</h1>
<div class="filters">
    <ul>
        <li  appLi [title]="'დეპარტამენტი'" [val]="'departments'" ></li>
        <li   appLi [title]="'პრიორიტეტი'" [val]="'priorities'" ></li>
        <li  appLi [title]="'თანამშრომელი'" [val]="'employees'" ></li>
    </ul>

</div>

@if(sharedStatesService.openFilteringCriterias() && sharedStatesService.receivedVal()==='departments'){
    <app-filtering-criterias [data]="this.apiService.departments()"  [receivedVal]="sharedStatesService.receivedVal()"/>
}
@if(sharedStatesService.openFilteringCriterias() && sharedStatesService.receivedVal()==='priorities'){
  <app-filtering-criterias [data]="priorities()"  [receivedVal]="sharedStatesService.receivedVal()"/>
}
@if(sharedStatesService.openFilteringCriterias() && sharedStatesService.receivedVal()==='employees'){
  <app-filtering-criterias [data]="employees()"  [receivedVal]="sharedStatesService.receivedVal()"/>
}
<div class="chosen-criterias">
<ul class="filters-list" >
  @if(sharedStatesService.getValues().length>0){
    @for(item of sharedStatesService.getValues();track item.name){
      <li (click)="removeItem(item)">
        {{item.name}} X
      </li>
     }
        <li class="remove" (click)="clearFilteringCriterias()">გასუფთავება</li>
  }

</ul>
</div>

@if(!tasksAreLoading()&& tasks().length!==0){
<div class="main-container">
  @for(status of statuses; track status){
    <app-task-column [header]="status.name" [color]="status.color" [data]="getTasksByStatus(status.name)"></app-task-column>
  }
</div>}
}
@if(taskLoadingHasError()){
  <div class="error-div">
    <p>სამწუხაროდ დავალებების ჩატვირთვა ვერ მოხერხდა. 😢</p>
</div>
}

