:host{
    position: relative;
   
    h1{
        font-size: 18px;
        color: #212529
        }
        .filters{
            margin-top: 20px;
            border:1px solid #DEE2E6;
            border-radius: 10px;
            ul{
                padding: 10px;
                list-style: none;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap:20px;
            }
        }
        .chosen-criterias{
            margin-top: 15px;
            margin-bottom: 15px;
            ul{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap:10px;
                list-style: none;
            }
        }

        .filters-list{
            display: flex;
            flex-direction: row;
            gap:10px !important;
            width:100%;
            flex-wrap: wrap;
            justify-content: start !important;
            li{
                border:1px solid black;
                border-radius: 10px;
                text-align: center;
                padding: 2px 5px;
                font-size: 12px;
            }
            .remove{
                border: none;
            }
        }
        .main-container{
        
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 16px;
        max-width: 100%;     
        }
}

@media screen and (min-width:700px){
  :host{
    h1{font-size: 21px;}
    .filters{
       
        ul{
            padding: 10px;
        li{
            font-size: 14px;
        }
        }
    }
    }
  }  

  @media screen and (min-width:1000px) {
 .filters{
    width: 688px;
 }
    
}


::ng-deep mat-spinner circle {
    stroke: #8338EC; 
  }
