<h1>დავალებების გვერდი</h1>
<div class="filters">
    <ul>
        <li  appLi [title]="'დეპარტამენტი'" [val]="'departments'" ></li>
        <li   appLi [title]="'პრიორიტეტი'" [val]="'priorities'" ></li>
        <li  appLi [title]="'თანამშრომელი'" [val]="'employees'" ></li>
    </ul>

</div>
@if(sharedStatesService.openFilteringCriterias()){
    <app-filtering-criterias/>
}
<div class="chosen-criterias">
<ul >
    <li>გასუფთავება</li>
</ul>
</div>
<div class="main-container">

    <div class="collapsible-section">
        <h2 class="header" (click)="toggle($event)">Click me to toggle content</h2>
        <div class="content">
          <!-- <p>This is the hidden content. It will appear when the header is clicked.</p>
          <p>You can put anything here — forms, lists, etc.</p> -->
        </div>
      </div>
</div>