<h1>დავალებების გვერდი</h1>
<div class="filters">
    <ul>
        <li  appLi [title]="'დეპარტამენტი'" [val]="'departments'" ></li>
        <li   appLi [title]="'პრიორიტეტი'" [val]="'priorities'" ></li>
        <li  appLi [title]="'თანამშრომელი'" [val]="'employees'" ></li>
    </ul>

</div>
@if(sharedStatesService.openFilteringCriterias()){
    <app-filtering-criterias [data]="getDataForChild(sharedStatesService.receivedVal())"/>
}
<div class="chosen-criterias">
<ul >
    <li>გასუფთავება</li>
</ul>
</div>
<div class="main-container">

  @for(status of statuses; track status){
    <app-task-column [header]="status.name" [color]="status.color" [data]="getTasksByStatus(status.name)"></app-task-column>
  }
</div>