@use './../../styles/variables.scss' as *;
@use './../../styles/mixins.scss' as *;


header{
    @include small-padding;
   @include column-flex;
    img{
        width:120px;
        height: 20px;
    }
    .btn-div{
        margin-top: 5px;
       @include row-flex;
        justify-content: flex-end;

    }
    .add-employee{
        border:1px solid $primary-color;
        background-color: white;
        font-size: 10px;
        letter-spacing: 0.2px;
        margin-right: 10px;
       @include border-padding;
        text-decoration: none;
    }
    .add-employee:hover, .add-task:hover{
        cursor: pointer;
    }
    .add-task{
        background-color: $primary-color;
        color: white;
        font-size: 10px;
        letter-spacing: 0.2px; 
        @include border-padding;
        @include flex-align-items;
        text-align: center;
        gap:2px;
        text-decoration: none;
        span{
            @include flex-align-items;
            text-align: center;
        }
    }
}


@media screen and (min-width:500px) {
    header{
        @include row-flex-space;
        img{
            width:150px;
            height: 25px;
        }
        .btn-div{margin-top: 0px;}
    }
    
}

@media screen and (min-width:700px) {
    header{
        padding: 10px 15px;
        
        img{
            width:170px;
            height: 30px;
        }

        .add-employee{
            font-size: 13px;
            padding: 7px;
        }
       
        .add-task{
            font-size: 13px;
            letter-spacing: 0.2px; 

         span{
            font-size: 15px;
         }
        }

    }
    
}


@media screen and (min-width:1000px) {
    header{
        .add-employee, .add-task{
            font-size: 13px;
        }
        
         span{
            font-size: 18px;
         }
    }
    
}

@media screen and (min-width:1400px) {
    header{
       padding: 15px 220px;
    
    }
    
}