
@use '../../../../styles/mixins.scss' as *;
@use '../../../../styles/variables.scss' as *;

:host{
    position: relative;
    width: 100%;
   
    .title{
        font-size: 12px;
        font-weight: bold;
    }
    
    .selected-option{
        padding-top: 0px;
        margin-top: 5px;
       @include row-flex-space;
        padding: 4px;
        @include flex-align-items;
        border: 1px solid #DEE2E6;
        background-color: white;
        border-radius: 4px;
        height: 40px;
        width:100%;
        overflow-wrap: break-word;
        .img-container{
            @include row-flex;
        gap:4px;
        @include flex-align-items;
        padding: 5px;
        img{
            width:14px;
            height: 14px;
        }
    p{font-size: 10px;
    width: 100%;
word-wrap: break-word; 
white-space: normal;  }
        }
        .fa-solid{
            font-size: 12px;
        }
    }
    ul{
        position: absolute;
        width: auto;
        min-width: 100%;
        top: 100%;
        left: 0;
        z-index: 1;
        background-color: white;
        list-style: none;
        border-radius: 4px;
        @include column-flex;
       padding-left: 4px;
       .add-empl{
        @include row-flex;
        @include flex-align-items;
    font-size: 12px;
    color: $primary-color;
    img{
        height: 16px;
    }
       }
        li{
            @include row-flex;
            padding: 4px;
            gap:4px;
            margin-top: 5px;
            img{
                width:14px;
                height: 14px;
                border-radius: 50%;
                @include img-fit
            }
            p{font-size: 12px;}
        }
    }
}


@media screen and (min-width:700px) {

    
:host{
    .selected-option{
        .img-container{
        img{
            width:16px;
            height: 16px;
        }
    p{font-size: 12px;
     }
        }
        .fa-solid{
            font-size: 14px;
        }
    }
    ul{
       
       .add-empl{
        @include flex-align-items;
       }
        li{
            img{
                width:16px;
                height: 16px;
            }
            p{font-size: 12px;}
        }
    }
}
}

@media screen and (min-width:1000px) {     
:host{
   .title{
    font-size: 15px;
   }
}
        }