<p class="title">{{title}}</p>
<div [ngClass]="{'invalid-border':formSubmitted() && !chosenValue}" class="selected-option" (click)="toggleOpen()">
    <section class="img-container">
        @if(chosenValue?.icon)
  {
    <img alt={{chosenValue?.icon}} 
  [src]="chosenValue?.icon">
}
    <p>{{chosenValue?.name}}</p>
    </section>
    <i class="fa-solid" [ngClass]="openList()?'fa-angle-up':'fa-angle-down'"></i>
</div>
@if(openList()){
<ul >
    @if(classifier==='employee'){<li (click)="SharedStates.openEmployeeModal.set(true)">add employee</li>}
    @for(item of data; track item.id){
        <li (click)="setValue(item)">
            @if(item?.icon){<img [alt]="item.name" [src]="item?.icon">}
            <p>{{item.name}}</p>
        </li>
    }
    
</ul>
}


