<p class="title">{{title}}</p>
<div class="selected-option" (click)="toggleOpen()">
    <div class="img-container">
        @if(chosenValue.icon)
  {
    <img alt={{chosenValue.icon}} 
  [src]="chosenValue.icon">
}
    <p>{{chosenValue.name}}</p>
    </div>
    <i class="fa-solid" [ngClass]="openList()?'fa-angle-up':'fa-angle-down'"></i>
</div>
@if(openList()){
<ul>
    @for(item of data; track item.id){
        <li (click)="setValue(item)">
            @if(item.icon){<img [alt]="item.name" [src]="item.icon">}
            <p>{{item.name}}</p>
        </li>
    }
    
</ul>
}


