<div class="card-div" >
    <div class="heading">
        <div class="status">
            <div class="priority">
                <img alt="'priority'" >
                <span ></span>
            </div>
            <div class="task-dep"><p>
                <!-- {{task.department.name | shortenText }} -->
            </p></div>
        </div>
        <!-- <span class="date">{{ task.due_date| date: 'dd MMM, yyyy' }}</span> -->
    </div>
    <div class="desc-container">
        <!-- <p class="desc-heading">{{task.name}}</p>
        <p class="desc-text">{{task.description | modifyLength}}</p> -->
    </div>
    <div class="icons-container">
        <!-- <img [src]="task.employee.avatar" alt="employee-photo"> -->
        <p class="comments-icons">
            <i class="fa-regular fa-message"></i>
            <!-- <span>{{task.total_comments}}</span> -->
        </p>
    </div>
</div>
