$primary-color: #8338EC;
$primary-yellow:#F7BC30;
$primary-orange: #FB5607;
$primary-pink: #FF006E;
$blue-color: #3A86FF;
$green-color: #08A508;
$light-blue-color: #89B6FF;
$invalid-color: #FA4D4D;
$font-color: #343A40;
$border-color:#CED4DA;
$font-dark-color: #212529;
$input-color: #0D0F10;  