@use './../../styles/variables.scss' as *;
@use './../../styles/mixins.scss' as *;

.overlay {
  z-index: 2;
    position: fixed;
    height: 100vh;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(2px); 
   @include flex-center;
    align-items: start;
    overflow-y: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    .modal {
    background-color: #fff;
    width: 400px;
    max-width: 90%;
    max-height: 90vh;
    overflow-y: auto;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    @include column-flex;
    padding: 15px;
    .img-container{
       @include flex-end;
.close-btn {
    height: 25px;
    width: 25px;
    cursor: pointer;
  }
    }
    form{
      @include column-flex;
gap:20px;
h2{
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
}
        .modal-footer{
            display: flex;
            justify-content: flex-end;
            gap:12px;
            button{
                cursor: pointer;
                @include border-padding;
                @include small-padding;
    border: none;
    cursor: pointer;
    font-size: 10px 
            }
            .add-btn{
background-color:$primary-color ;
color: white
            }
            .close-btn{
              color: $font-color;
                border:1px solid $primary-color;
                background-color: white;
            }
        }
         .img-container {
          @include column-flex;
          gap: 10px;        
          .upload-container {
            padding: 10px ;
            width: 100%;
            background-color: white;
         @include flex-center;
         align-items: center;
            border: 1px dashed $border-color;
            cursor: pointer;
            border-radius: 10px;
            overflow: hidden;
        
            input[type="file"] {
              display: none;
            }
            .image-preview {
              position: relative;
              width: 58px;
              height: 58px;
              border-radius: 50%;
              border: 1px solid black;
              img {
                  width: 58px;
                  height: 58px;
                  border-radius: 10px;
                  border-radius: 50%;
              @include img-fit
              }
          
              .fa-trash {
                  position: absolute;
                  bottom:-4px;
                  right: 0;
                 background-color: white;
                  color:#8a8f93;
                  border-radius: 50%;
                 font-size: 10px;
                  padding: 4px ;
                  border: 1px solid #8a8f93 ;
                  cursor: pointer;
              }
          }
        
            .upload-text {
              font-size: 14px;
              color: #777;
              @include column-flex;
              text-align: center;
              .fa-image{
  font-size: 18px;
              }
              p{
                color: $font-color;
                font-size: 10px;
                font-weight:400;

                margin-top: 5px;
              }
            }
          }
        }
    }
   
  }
  .invalid-dashed-boarder{
    border:1px dashed $invalid-color !important;
  }
}
  

@media screen and (min-width:1400px) {
  .overlay{
    align-items: start;
    .modal {
      width: 800px;
      margin-top: 118px;
      padding:30px 40px 50px;
      .img-container{
  .close-btn {
      height: 30px;
      width: 30px;
    }
      }
      form{
  h2{
    font-size: 18px;
  }
  .personal-info-content{
   @include row-flex-space;
    gap:45px;
    
  }

.img-container{
  .upload-container {
height: 100px;
    .image-preview {
      position: relative;
      width: 68px;
      height: 68px;
      img {
        width: 68px;
        height: 68px;;
      }
      .fa-trash {
        font-size: 12px;
      }
  }

    .upload-text {
      .fa-image{
font-size: 30px;
      }
      p{
        font-size: 12px;
      }
    }
  }
}

.modal-footer{
  button{
      padding: 8px 15px;
font-size: 13px 
  }

}
      }
     
    }
  }

  
}
  
