@if(item===undefined && !taskError()){
    <div class="loader-div">
        <p>მონაცემები იტვირთება</p>
        <mat-spinner [color]="'warn'" [diameter]="70" [strokeWidth]="2"></mat-spinner>
      </div>
}

@if(taskError()){
    <div class="error-div">
        <p>სამწუხაროდ მონაცემების ჩატვირთვა ვერ მოხერხდა. 😢</p>
    </div>
}

<div *ngIf="item" class="header-div">
    <div class="priority-container" [ngStyle]="{'border-color':getPriorityClass(item.priority.name)}">
     <img [src]="item.priority.icon" [alt]="item.priority.name">
        <p [ngStyle]="{'color': getPriorityClass(item.priority.name)}">{{item.priority.name}}</p>
    </div>
    <p class="department-name" [ngStyle]="{'background-color' :applyBgc(item.department.name)}">{{item.department.name | shortenText}} </p>
</div>
<div *ngIf="item" class="main-container">
    <div class="task-details">
        <div class="item-desc-container">
            <h1>{{item.name}}</h1>
            <p class="task-description">{{item.description}}</p>
        </div>
        <p class="details-p" style="font-weight: bold;">დავალების დეტალები</p>


        <div class="task-status">
            <div class="img-container">
                <img src="images/pie-chart.svg">
                <p class="status-p">სტატუსი</p>
            </div>

            <div class="status">
               <div class="chosen-status" (click)="isVisible.set(!isVisible())">
                <p>{{chosenStatus()?.name}}</p>
                <span><i class="fa-solid" [ngClass]="isVisible()?'fa-angle-up':'fa-angle-down'"></i></span>
               </div>
          @if(isVisible()){
            <ul class="status-list">
                @for(status of statuses(); track status.id){
                    <li (click)="chooseStatus(status)">{{status.name}}</li>
                }
               </ul>
          }    
            </div>

        </div>
        <div class="task-employee">
            <div class="img-container">
                <img src="images/Frame 1000005864.svg">
                <p class="empl-p">თანამშრომელი</p>
            </div>
            <div class="employee-details">
                <p class="department-name">{{item.department.name}}</p>
                <div class="employee-img-container">
                    <img [src]="item.employee.avatar" [alt]="'employee-avatar'">
                    <p class="empoyee-name">{{item.employee.name}} {{item.employee.surname}}</p>
                </div>
            </div>
        </div>
        <div class="task-deadline">
            <div class="img-container">
                <img src="images/calendar.svg">
                <p class="deadline-p">დავალების ვადა</p>
            </div>
            <div class="deadline-details">
                <p>{{weekDay()}} - <span>{{formattedDate()}}</span></p>
            </div>
        </div>
    </div>

    <!-- //comments section -->
    <div class="comments-div">
      <app-comment-area [id]="id()" [childOrParent]="'parent'"></app-comment-area>

        <div class="all-comments">
            <h4>კომენტარები <span> {{commentsLength}}</span></h4>
            <ul class="comment-list">
                @for(comment of comments(); track comment.id){
<li >

<app-comment-item [id]="id()" [comment]="comment"></app-comment-item>

</li>
                }

            </ul>
        </div>
    </div>
</div>