.header-div{
    display: flex;
    flex-direction: row;
    gap:20px;
    font-size: 10px;
    .priority-container{
        display: flex;
        flex-direction: row;
        gap:2px
        
    }
}

.main-container{
    position: relative;
    display: flex;
    flex-direction: column;
    gap:30px;
    .item-desc-container{
        display: flex;
        flex-direction: column;
        gap:15px; 
        h1{
            font-size: 20px;
        }
        .task-description{
            font-size: 14px;
        }
    }
    .task-details{
        display: flex;
        flex-direction: column;
        gap:10px;
        .task-status, .task-employee, .task-deadline{
            border: 1px solid black;
            align-items: center;
            display: flex;
        flex-direction: row;
        justify-content: space-between;
        };
        .task-status{
            align-items: end;
            .status{
                width: 50%;
                height: 100%;
                .chosen-status{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 10px;
border: 1px solid #CED4DA;
border-radius: 5px;
                    p{
                        font-size: 10px;
                    }
                    span{
                        font-size: 10px;
                    }
                }
            }
            .status-list{
                border: 1px solid #CED4DA;
                border-radius: 5px;
                margin-top: 5px;
                gap:2px;
                list-style: none;
                position: absolute;
                background-color: white;
                // width:100%;
                width: 50%;
                min-width:auto;
                li{
                    // border: 1px solid black;
                    padding: 5px ;
                    font-size: 10px;
                    margin-top: 2px;
                }
            }
        }
        .task-employee{
            .employee-details{
                display: flex;
                flex-direction: column;
                gap:3px;
                justify-content: flex-start;
// border: 1px solid blue;
width: 50%;
                .department-name{
                    font-size: 8px;
                    margin-left: 21px;
                  
                }
                .employee-img-container{
                    display: flex;
                    flex-direction: row;
                    gap:5px;
// justify-content: flex-start;
// border: 1px solid blue;
p{background-color: yellow;}
                    img{width:16px;
                    height: 16px;
                border-radius: 50px;
                object-fit: cover;
                object-position: top center;
                // position: absolute;
               }
                }
                .empoyee-name{
                    // text-align: start;
                    font-size: 9px;
                    font-weight: bold;
                }
            }
            
        }
    }
    .comments-div{
        width: 100%;
        background-color: #DDD2FF;
        display: flex;
        flex-direction: column;
        gap:30px;
        padding: 25px;
        .all-comments{
            display: flex;
            flex-direction: column;
            gap:15px;
            h4{
                font-weight: bold;
                font-size: 13px;
                margin-right: 4px;
span{
    padding: 1px 6px;
    background-color: #8338EC;
    color: white;
    border-radius: 50%;
}
            }
            .comment-list{
list-style: none;
li{
    margin-top: 10px;
}
            }
           
        }
    }
}

.img-container{
    display: flex;
    flex-direction: row;
    gap:3px;
    font-size: 10px;
    align-items: center;
    img{
        width: 14px;
        
    }
}