@use './../../styles/variables.scss' as *;
@use './../../styles/mixins.scss' as *;
.header-div{
    @include row-flex;
    align-items: center;
    gap:12px;
    font-size: 10px;
    .priority-container{
        @include row-flex;
        align-items: center;
        gap:2px;
        border:1px solid;
        border-radius: 4px;
        padding: 4px ;
        img{
            width: 10px;
        }
        
    }
    .department-name{
             @include small-padding;
            font-weight: 400;
            @include flex-align-items;
            border-radius: 15px;
            font-size: 10px; 
            text-align: center;
            color: white
                
    }
}

.main-container{
    margin-top: 12px;
    position: relative;
    @include column-flex;
    gap:35px;
    .task-details{
        @include column-flex;
        gap:20px;

        .item-desc-container{
            @include column-flex;
            gap:15px; 
            h1{
                font-size: 15px; 
                
            }
            .task-description{
                font-size: 14px;
            }
        }

        .task-status, .task-employee, .task-deadline{
            align-items: center;
            @include row-flex-space;
        .status-p, .empl-p, .deadline-p{
            font-size: 11px ;
            
        }
        .deadline-details{
            display: flex;
        justify-content: flex-start;
        width: 50%;
        font-size: 10px
            }
        
        };
        
        .task-status{
            align-items: end;
            position: relative;
            .status{
                width: 50%;
                height: 100%;
                position: relative;
                .chosen-status{
                    @include row-flex-space;
                    padding: 10px;
border: 1px solid $border-color;
border-radius: 5px;
                    p{
                        font-size: 10px;
                    }
                    span{
                        font-size: 10px;
                    }
                }
            }
            .status-list{
                border: 1px solid $border-color;
                border-radius: 5px;
                margin-top: 5px;
                gap:2px;
                list-style: none;
                position: absolute;
                background-color: white;
                width: 100%;
                li{
                    padding: 5px ;
                    font-size: 10px;
                    margin-top: 2px;
                }
            }
        }
        .task-employee{
            .employee-details{
                @include column-flex;
                gap:3px;
                justify-content: flex-start;
width: 50%;
                .department-name{
                    font-size: 8px;
                    margin-left: 21px;
                  
                }
                .employee-img-container{
                    @include row-flex;
                    gap:5px;
                    img{width:16px;
                    height: 16px;
                border-radius: 50px;
                @include img-fit
               }
                }
                .empoyee-name{
                    font-size: 9px;
                    font-weight: bold;
                }
            }
            
        }
    }
    .comments-div{
        width: 100%;
        background-color: #DDD2FF;
        @include column-flex;
        gap:30px;
        padding: 25px;
        .all-comments{
            @include column-flex;
            gap:15px;
            h4{
                font-weight: bold;
                font-size: 13px;
                margin-right: 4px;
span{
    padding: 1px 6px;
    background-color: $primary-color;
    color: white;
    border-radius: 50%;
}
            }
            .comment-list{
list-style: none;
li{
    margin-top: 10px;
}
            }
           
        }
    }
}

.img-container{
    @include row-flex;
    gap:3px;
    font-size: 10px;
    align-items: center;
    img{
        width: 14px;
        
    }
}

@media screen and (min-width:700px) {

    .header-div{
        font-size: 12px;
        .priority-container{ 
            img{
                width: 12px; 
            }
        }
        .department-name{
                font-size: 12px;     
        }
    }
    
    .main-container{
        .task-details{
            width: 450px;
            .item-desc-container{
                    h1{
                    font-size: 16px; 
                }
            }
            .task-status, .task-employee, .task-deadline{
            .status-p, .empl-p, .deadline-p{
                font-size: 12px
            }
            .deadline-details{
            font-size: 11px
                }
            };
            
        } 
    }
    
}

@media screen and (min-width:900px) {
   
    .header-div{
        font-size: 14px;
        margin-bottom: 20px;
        .priority-container{
            img{
                width: 14px; 
            }
        }
        .department-name{
                font-size: 14px;        
        }  
    }
    
    .main-container{
        flex-direction: row;
        
        .task-details{
width: 50%;
            .item-desc-container{
          margin-bottom: 35px;
                gap:25px;
                h1{
                    font-size: 22px;
                }
                .task-description{
                    font-size: 18px;
                }
            }
.details-p{
font-size: 18px;
}
            .task-status, .task-employee, .task-deadline{
                width: 400px;
            .status-p, .empl-p, .deadline-p{
                font-size: 14px 
            }
            .deadline-details{
            font-size: 13px
                }
            };
            .task-status{

.status{
    .chosen-status{
        p{
        font-size: 13px;
    }
   
span{
    font-size: 13px;
}}

.status-list{
    li{
        font-size: 12px;
    }
}
}    
            }
               .task-employee{
                .employee-details{
                    .department-name{
                        font-size: 11px;                      
                    }
                    .employee-img-container{
                        img{width:24px;
                        height: 24px;
                   }
                    }
                    .empoyee-name{
                        font-size: 12px;
                        @include flex-align-items;
                    }
                }
            }
        }
        .comments-div{
            width: 50%;
        }
    }
    .img-container{
         img{
            width: 20px;
        }
    }
}

@media screen and (min-width:1400px) {
    .header-div{
        font-size: 14px;
        .priority-container{
            img{
                width: 14px; 
            }
        }
        .department-name{
                font-size: 14px;      
        }
    }
    
    .main-container{
        .task-details{
           width: 50%;
            .item-desc-container{
                @include column-flex;
                gap:20px; 
                h1{
                    font-size: 24px; 
                }
                .task-description{
                    font-size: 20px;
                }
            }
    .details-p{
        font-size: 21px;
    }
            .task-status, .task-employee, .task-deadline{
                width: 450px;
            .status-p, .empl-p, .deadline-p{
                font-size: 16px
            }
            .deadline-details{
            font-size: 14px
                }
            };
            
            .task-status{
                .status{
                    .chosen-status{
                        p{
                            font-size: 14px;
                        }
                        span{
                            font-size: 14px;
                        }
                    }
                }
                .status-list{
                    li{
                        font-size: 13px;
                    }
                }
            }
            .task-employee{
                .employee-details{
                    .department-name{
                        font-size: 11px; 
                    }
                    .employee-img-container{
                        img{width:28px;
                        height: 28px;
                   }
                    }
                    .empoyee-name{
                        font-size: 14px;
                    }
                }
                
            }
        }
        .comments-div{
            width: 50%;
        }
    }
    
    .img-container{
        img{
            width: 22px;
            height: 22px;
            
        }
    }
    
}