:host{
    display: flex;
    flex-direction: column;
    gap:4px;
    label{
        font-size: 12px;
        font-weight: bold;
    }
    input{
        outline: none;
        padding: 8px;
        border-radius: 5px;
        border:1px solid #DEE2E6
    }
    .span-container{
        display: flex;
        flex-direction: column;
        span{
        color: #6C757D;
        font-size: 8px;
        }
        
    }
}