:host{
    display: flex;
    flex-direction: column;
    gap:4px;
    label{
        font-size: 12px;
        font-weight: bold;
    }
    input{
        outline: none;
        padding: 8px;
        border-radius: 5px;
        border:1px solid #DEE2E6;
        height: 34px;
        width: 100%;
    }
    .span-container{
        display: flex;
        flex-direction: column;
        span{
        color: #6C757D;
        font-size: 8px;
        }
        
    }
}

@media screen and (min-width:1000px) {
    :host{
        width:100%
    ;
    label{
        font-size: 15px
    }
    input{
        font-size: 13px;
    }}
        }
