@use '../../../../styles/variables.scss' as *;
@use '../../../../styles/mixins.scss' as *;

:host{
    font-size: 10px;
    @include flex-align-items;
    gap:4px;
    font-weight: bold;
}
:host:hover{
    color: $primary-color
}