@use '../../../styles/mixins.scss' as *;
@use '../../../styles/variables.scss' as *;

.card-div{
border:1px solid;
padding: 20px;
border-radius: 15px;
gap:20px;
@include column-flex;
margin: 10px 0px;
.heading{
    @include row-flex-space;
   text-align: center;
.status{
    @include row-flex-space;
    align-items: center;
    text-align: center;
    gap:10px;
    .priority{
        display: flex;
        gap:4px;
        border-radius: 4px;
        border:0.5px solid;
        padding: 4px;
        font-size: 10px;
        font-weight: 500;
        text-align: center;
        align-items: center;
        img{
            width: 12px;
        }
    }
    .task-dep{
text-align: center;
padding: 5px 9px;
font-weight: 400;
height: 100%;
align-items: center;
display: flex;
border-radius: 15px;
p{font-size: 10px;
    font-weight: 400;
    text-align: center;
color: white}
    }
}
.date{
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 10px;
    font-weight: 400;
    color: #212529
}
}
.desc-container{
    @include column-flex;
    gap: 12px;
    .desc-heading{
        height: auto; 
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  font-size: 13px;
  font-weight: bold !important;
  color: #212529;
  text-align: center;
    }.desc-text{
        font-size: 12px;
        color: #212529;
        font-weight: 400;
    }
}
.icons-container{
    @include row-flex-space;
    height: 25px;
    align-items: center;
    img{
        width:31px;
        height: 25px;
        border-radius: 50%;
        @include img-fit
    }
    .comments-icons{
        @include row-flex;
        gap:4px;
        height: 100%;
        align-items: center;
        color: #212529;
        .fa-message{
            font-size: 15px;
        }
        span{
            font-size: 14px;
            font-weight: 400;
        }
       
    }
}
}



@media screen and (min-width:900px) {

.card-div{
    gap:24px; 
    .heading{
    .status{
        .priority, .task-dep p{
             font-size: 12px; 
        }
    }
    .date{
        font-size: 12px;
    }
    }
    .desc-container{
        .desc-heading{
      font-size: 15px;
        }
    }
    }

}





@media screen and (min-width:1400px) {

    .card-div{
        gap:28px; 
      .heading{
        .status{
            .priority{
                img{
                    width: 16px;
                }
            }
        }
      }
        .desc-container{
            .desc-text{
                font-size: 14px;
            }
        }
        .icons-container{
            height: 31px;
            img{
                width:31px;
                height: 100%;
            }
            .comments-icons{  
                .fa-message{
                    font-size: 18px;
                }  
            }
        }
        }
    }