<div class="main-container">
<ul>
    <li>
        <section class="checkbox-item"> 
        <input type="checkbox" class="custom-checkbox" style=" border-bottom-color: #007bff;">
        <label >  raghac </label>
        </section>
    </li>
    <li>
        <section class="checkbox-item"> 
        <input type="checkbox" class="custom-checkbox" style=" border-bottom-color: #007bff;">
        <label >  raghac </label>
        </section>
    </li>
    <li>
        <section class="checkbox-item"> 
        <input type="checkbox" class="custom-checkbox" style=" border-bottom-color: #007bff;">
        <label >  raghafffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffc </label>
        </section>
    </li>
    <li>
        <section class="checkbox-item"> 
        <input type="checkbox" class="custom-checkbox" style=" border-bottom-color: #007bff;">
        <label >  raghac </label>
        </section>
    </li>
    <li>
        <section class="checkbox-item"> 
        <input type="checkbox" class="custom-checkbox" style=" border-bottom-color: #007bff;">
        <label >  raghac </label>
        </section>
    </li>
    <li>
        <section class="checkbox-item"> 
        <input type="checkbox" class="custom-checkbox" style=" border-bottom-color: #007bff;">
        <label >  raghac </label>
        </section>
    </li>
</ul>
<section class="btn-sect">
    <button>არჩევა</button>
</section>
</div>
