<div class="main-container">
<ul>
    @for(item of data; track item.id){
        <li>
            <section class="checkbox-item"> 
            <input  [value]="item" type="checkbox" class="custom-checkbox"  (change)="handleChange(item)">
           @if(item.surname){
            <label> {{item.name}} {{item.surname}} </label>
           } @else{<label> {{item.name}}</label>}
            </section>
        </li>
    }   
</ul>
<section class="btn-sect">
    <button (click)="handleChoose($event)">არჩევა</button>
</section>
</div>
