.task-container{
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    background-color: #DDD2FF;
    border-radius: 4px;
    gap:15px;
    // height: 100vh;
    h1{
        font-size: 16px;
    }
    form{
        display: flex;
        flex-direction: column;
        gap:15px;
        .first-sub-container{
            display: flex;
    flex-direction: column;
    gap:15px;
   
    .desc-div{
        display: flex;
        flex-direction: column;
        gap:4px;
        label{
            font-size: 12px;
            font-weight: bold;
        };
        textarea{
            outline: none;
            padding: 8px;
            border-radius: 5px;
            border:1px solid #DEE2E6;
            min-height: 100px;
        }
        .span-container{
            display: flex;
            flex-direction: column;
            span{
            color: #6C757D;
            font-size: 8px;
            }
        }
    }
    .status-priority-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap:20px;
     
        .priority, .status{
            width: 50%;
        }
    }
        }
        .second-sub-container{
            display: flex;
            flex-direction: column;
            gap:15px;
            .department-employee-container{
                display: flex;
                flex-direction: row; 
                justify-content: space-between;
                gap:20px;
            }
            .department-container,.employees-container{
                width: 50%;
               
            }
           
        }
    }
}