.task-container{
    font-family: 'FiraGO', sans-serif;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    gap:15px;
    h1{
        font-size: 16px;
    }
    form{
        display: flex;
        flex-direction: column;
        gap:15px;
        background-color: #DDD2FF;
        padding: 20px 30px;
        .main-container{
display: flex;
flex-direction: column;
gap:15px;
            .first-sub-container{
                display: flex;
        flex-direction: column;
        gap:15px;
       .title-div{
        width: 100%;
       }
        .desc-div{
            display: flex;
            flex-direction: column;
            gap:4px;
            label{
                font-size: 12px;
                font-weight: bold;
            };
            textarea{
                font-family: 'FiraGO', sans-serif !important;
                outline: none;
                padding: 8px;
                border-radius: 5px;
                border:1px solid #DEE2E6;
                min-height: 100px;
                font-size: 10px;
                line-height: 150%;
                color: #0D0F10
            }
            .span-container{
                display: flex;
                flex-direction: column;
                span{
                color: #6C757D;
                font-size: 8px;
                }
            }
        }
        .status-priority-container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap:20px;
         
            .priority, .status{
                width: 50%;
            }
        }
            }
            .second-sub-container{
                display: flex;
                flex-direction: column;
                gap:15px;
                .department-employee-container{
                    display: flex;
                    flex-direction: row; 
                    justify-content: space-between;
                    gap:20px;
                }
                .department-container,.employees-container{ width: 50%;}
                .deadline-container{
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    gap:2px;
                    p{
                        font-size: 12px;
    font-weight: bold;
    margin-bottom: 4px;
                    }
                }
            }

        }
        .btn-container{
            display: flex;
            justify-content: end;
            margin-top: 40px;
            button{
                background-color: #8338EC;
                color: white;
                outline: none;
                border: none;
                border-radius: 5px;
                padding: 5px 10px;
                align-items: center;
                font-family: 'FiraGO', sans-serif;
                font-size: 12px;
            }
        }
    }
}

::ng-deep{
    mat-form-field{
        display: flex;
        justify-content: start;
        .mat-mdc-text-field-wrapper{ 
            border-radius: 5px;
            padding: 0;
            height: 34px;
            display: flex;
            align-items: center;
            .mat-mdc-form-field-flex{
                background-color: white;
                border-radius: 5px;
                .mat-mdc-form-field-infix{
                    gap:20px;
                    input{
                        margin-left: 25px;
                        font-size: 12px;
                    }
                    input::placeholder{
                        color: #ADB5BD;
                        font-size: 12px;
                    }

                }
                .mat-mdc-form-field-icon-suffix{
                    position: absolute;
                    mat-datepicker-toggle{
                        button{
                            width:15px;
                            height: 15px;
                            padding: 0;
                            display: flex;
                            align-items: center;
                            border-radius: 0;
                            svg{
                                width:100%;
                            height: 100%;
                            }
                        }
                    }
                    
                }
            }
        }
       
    }

    .mat-datepicker-popup{
        background-color:white;
        margin-top: 4px;
        mat-datepicker-content{
            background-color:white;
        }
    }
    .mat-calendar-body-today:not(.mat-calendar-body-selected) {
        border: none !important;
        outline: none !important;
      }
      .mat-calendar-body-cell[aria-pressed="true"] > .mat-calendar-body-cell-content {
        background-color: #8338EC !important;
        color: white !important;
        border-radius: 50%;
      }
}


@media screen and (min-width:700px) {
    .task-container{
        h1{
            font-size: 18px; }
        form{
            min-height: 500px;
            padding-top:50px;
            padding-bottom:40px;
            .main-container{
            flex-direction: row ;
            gap:30px;
                .first-sub-container{
                    width: 100%;
                    .desc-div{
                      textarea{
                        font-size: 12px;
                      }  
                    }
                  
            }
            .second-sub-container{
                width: 100%;
                gap:35px;
                    .department-employee-container{
                        flex-direction: column; 
                        width: 100%;
                        gap:37px;
                        .department-container,.employees-container{
                            width: 100%;
                        }
                    }
                } 
            }
              }
        }
    }   


@media screen and (min-width:1000px) {
    .task-container{
        h1{
            font-size: 20px;
        }
        form{
            .main-container{
                .first-sub-container{
            .desc-div{
                label{
                    font-size: 15px;
                };
             
            }
                }
                .second-sub-container{
                    .deadline-container{
                        .deadline-p{font-size: 15px;}
                    } 
                }
    
            }
          
    
        }
    }
}

@media screen and (min-width:1400px) {
    .task-container{
       h1{font-size: 22px; }
        form{
            .main-container{
    gap:30px;
    .first-sub-container, .second-sub-container{
                width:40%;
            .title-div{width:90%}
            .desc-div{  width:90%;
                label{
                    font-size: 14px;
                };
            }
            .status-priority-container{
                width:90%;
            }
                }
                .second-sub-container{
                    .department-employee-container{ width: 90%; }
                    .deadline-container{
                        position: relative;
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                        gap:2px;
                       .deadline-p{
                        margin-bottom: 4px;
                       }
                    }
                }
            }
            .btn-container{
             width: 78.2%;
             button{
                padding: 5px 10px;
                font-size: 15px;
             }
              
            }
    
        }
    }
}


