.comment-textarea{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border:0.3px solid #ADB5BD;
    border-radius: 5px;
    padding: 8px;
    margin-top: 8px;
    gap:5px;
   textarea{
    height: 50px;
border: none; 
    border-radius: 5px;
    outline: none;
   }
   textarea::placeholder{
    font-size: 10px;
    font-family: 'FiraGO', sans-serif;
   }
   .btn-div{
    display: flex;
    justify-content: end;
    button{
        padding: 5px 8px;
        background-color: #8338EC;
        color: white;
        border: none;
        outline: none;
        font-size: 8px;
        font-family: 'FiraGO', sans-serif;
        border-radius: 14px;

    }
   }
}

@media screen and (min-width:700px) {

    .comment-textarea{
       padding: 10px;
       textarea{
        height: 60px;
       }
       textarea::placeholder{
        font-size: 12px;
       }
         .btn-div{

        button{
            padding: 5px 10px;
            font-size: 10px;
        }
       }
    }


    
}


@media screen and (min-width:1000px) {

    .comment-textarea{
       padding: 10px;
       textarea{
        height: 70px;
       }
       textarea::placeholder{
        font-size: 12px;
       }
        
    }
}